In [ ]:

#Exercise1
import pandas as pd
data = {'Aのスコア':[78,85,96,80,86],'Bのスコア':[84,94,89,83,86],'Cのスコア':[86,97,96,72,83]}
df = pd.DataFrame(data)
print(df)

In [ ]:
#Exercise2
print(df.head(3))
print(df.tail(3))
print(df.shape)

In [ ]:
#Exercise3
df.columns = ['Aの得点','Bの得点','Cの得点']
df.index = ['PHP','C++','Python','Java','JavaScript']
print(df)

In [ ]:
#Exercise4
import pandas as pd
data = {
    '名前':['はなこ','たろう','じろう','ひろし','みゆき'],
    '訪問回数':[1, 5, 3, 3, 2],
    'スコア':[12.5, None, 16.5, 9, None]
}
labels = ['a','b','c','d','e']
df = pd.DataFrame(data, index=labels)
print(df)

In [ ]:
#Exercise5
col = ['名前','スコア']
print(df[col])

In [ ]:
#Exercise6
print(df[df['訪問回数'] > 2])
#print(df[df.訪問回数 > 2])

In [ ]:
#Exercise7
print(df)
print(df[(df['訪問回数'] > 2) & (df['スコア'] < 10)])
#print(df[(df.訪問回数 > 2) & (df.スコア < 10)])

In [ ]:
#Exercise8
print(df)
print(df.loc['c', 'スコア'])

In [ ]:
#Exercise9
print(df)
print(df.loc['a':'c', :'訪問回数'])

In [ ]:
#Exercise10
df.loc['f'] = ['たかし', 4, 10.5]
print(df)
df = df.drop('f')
print(df)

In [ ]:
#Exercise11
print(df)
print(df['訪問回数'].unique())
print(df['訪問回数'].value_counts())

In [ ]:
#Exercise12
print(df)
print(df.isnull().any(axis=0))

In [ ]:
#Exercise13
print(df)
print(df.isnull().sum())

In [ ]:
#Exercise14
print(df)
print(df[df['スコア'].isnull()])

In [ ]:
#Exercise15
df2 = df.dropna(how='any', axis=0)
print(df)
print(df2)

In [ ]:
#Exercise16
colmean = df.mean()
df2 = df.fillna(colmean)
print(df)
print(df2)

In [ ]:
#Exercise17
print(df2)
print(df2['スコア'].map(int))

In [ ]:
#Exercise18
print(df)
df2 = df.sort_values(by='訪問回数', ascending=False)
print(df2)

In [ ]:
#Exercise19
qualify = ['yes','yes','no','yes','no']
df['資格'] = qualify
print(df)
df2 = df.drop('資格', axis=1)
print(df2)

In [ ]:
#Exercise20
import pandas as pd
data = {'col1': [1,4,3,4,5], 'col2': [4,5,6,7,8], 'col3': [7,8,9,0,1]}
df = pd.DataFrame(data)
print(df.loc[df.col2%2==0, 'col2'])

In [ ]:
#Exercise21
df.to_csv('new_file.csv', index=False)
df2 = pd.read_csv('new_file.csv')
print(df2)

In [ ]:
#Exercise22
df2 = df.drop([2,4], axis=0)
df2 = df2.reset_index()
print(df)
print(df2)

In [ ]:
#Exercise23
tmp = {'name':['Tom','James','Emily','Michael','Laura']}
df_tmp = pd.DataFrame(tmp)
df2 = pd.concat([df,df_tmp], axis=1)
df2

In [ ]:
#Exercise24
tmp1 = pd.Series({'Tom':20,'James':32,'Emily':19,'Michael':45,'Laura':26})
tmp2 = pd.Series({'Michael':'NY','Emily':'CA','Tom':'TX','Laura':'FL','James':'WA'})

tmp_df = pd.concat([tmp1,tmp2], axis=1)
print(tmp_df)

In [ ]:
#Exercise25
import pandas as pd
import numpy as np
data = {
    'language':['Python','Java','PHP','PHP','Python','Java','PHP','Python','Java','Python','Java','Java','PHP','Python','PHP'],
}
data['col1'] = np.random.randint(1,100,15)
data['col2'] = np.random.randint(1,100,15)

df = pd.DataFrame(data)
tmp = df.groupby(['language']).mean()
print(tmp)

In [ ]:
#Exercise26
tmp = {'class':['A','A','A','B','B','B','C','C','C','A','A','B','A','B','B']}
df_tmp = pd.DataFrame(tmp)
df2 = pd.concat([df,df_tmp], axis=1)
print(df2)
df3 = pd.pivot_table(df2, index='language', columns='class', values='col1')
print(df3)
df3.plot(kind='bar')

In [ ]:
#Exercise27
print(pd.pivot_table(df2, index='language', columns='class', values='col1', aggfunc=max))

In [ ]:
#Exercise28
import pandas as pd
import numpy as np
data = np.random.randn(20,3)
columns = ['x0','x1','x2']
df = pd.DataFrame(data,columns=columns)
print(df)

In [ ]:
#Exercise29
df['result'] = np.random.randint(1,100,20)
print(df)
df.plot(kind='scatter',x='x2',y='result')

In [ ]:
#Exercise30
for name in df.columns:
    if name == 'result':
        continue
    df.plot(kind='scatter', x=name, y='result')

In [ ]:
#Exercise31
import pandas as pd

data = {'name': ['Tom','Taro','Jiro','James','Emily','Michael','Keiko','Laura','Sayuri','Daisuke'],
        'score': [12.5, 9, 16.5, 12.7, 9, 20, 14.5, 11.3, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(data)

df2 = df.sort_values(['attempts', 'name'], ascending=[True, True])
print(df2)

In [ ]:
#Exercise32
print(df.groupby('attempts').mean()['score'])

In [ ]:
#Exercise33
print(pd.pivot_table(df, index='attempts', columns='qualify', values='score'))

In [ ]:
#Exercise34
dummy = pd.get_dummies(df['qualify'], drop_first=True)
df2 = pd.concat([df, dummy], axis=1)
df2 = df2.drop('qualify', axis=1)
print(df2)

In [ ]:
#Exercise35
print(df2.rename(columns={'yes':'qualify'}))