In [43]:

#Exercise1
import pandas as pd
data = {'Aのスコア':[78,85,96,80,86],'Bのスコア':[84,94,89,83,86],'Cのスコア':[86,97,96,72,83]}
df = pd.DataFrame(data)
print(df)

   Aのスコア  Bのスコア  Cのスコア
0     78     84     86
1     85     94     97
2     96     89     96
3     80     83     72
4     86     86     83

In [44]:
#Exercise2
print(df.head(3))
print(df.tail(3))
print(df.shape)

   Aのスコア  Bのスコア  Cのスコア
0     78     84     86
1     85     94     97
2     96     89     96
   Aのスコア  Bのスコア  Cのスコア
2     96     89     96
3     80     83     72
4     86     86     83
(5, 3)

In [45]:
#Exercise3
df.columns = ['Aの得点','Bの得点','Cの得点']
df.index = ['PHP','C++','Python','Java','JavaScript']
print(df)

            Aの得点  Bの得点  Cの得点
PHP           78    84    86
C++           85    94    97
Python        96    89    96
Java          80    83    72
JavaScript    86    86    83

In [46]:
#Exercise4
import pandas as pd
import numpy as np
data = {
    '名前':['はなこ','たろう','じろう','ひろし','みゆき'],
    '訪問回数':[1, 5, 3, 3, 2],
    'スコア':[12.5, np.nan, 16.5, 9, np.nan]
}
labels = ['a','b','c','d','e']
df = pd.DataFrame(data, index=labels)
print(df)

    名前  訪問回数   スコア
a  はなこ     1  12.5
b  たろう     5   NaN
c  じろう     3  16.5
d  ひろし     3   9.0
e  みゆき     2   NaN

In [47]:
#Exercise5
col = ['名前','スコア']
print(df[col])

    名前   スコア
a  はなこ  12.5
b  たろう   NaN
c  じろう  16.5
d  ひろし   9.0
e  みゆき   NaN

In [48]:
#Exercise6
print(df[df['訪問回数'] > 2])

    名前  訪問回数   スコア
b  たろう     5   NaN
c  じろう     3  16.5
d  ひろし     3   9.0

In [49]:
#Exercise7
print(df)
print(df[(df['訪問回数'] > 2) & (df['スコア'] < 10)])

    名前  訪問回数   スコア
a  はなこ     1  12.5
b  たろう     5   NaN
c  じろう     3  16.5
d  ひろし     3   9.0
e  みゆき     2   NaN
    名前  訪問回数  スコア
d  ひろし     3  9.0

In [50]:
#Exercise8
print(df)
print(df.loc['c', 'スコア'])

    名前  訪問回数   スコア
a  はなこ     1  12.5
b  たろう     5   NaN
c  じろう     3  16.5
d  ひろし     3   9.0
e  みゆき     2   NaN
16.5

In [51]:
#Exercise9
print(df)
print(df.loc['a':'c', :'訪問回数'])

    名前  訪問回数   スコア
a  はなこ     1  12.5
b  たろう     5   NaN
c  じろう     3  16.5
d  ひろし     3   9.0
e  みゆき     2   NaN
    名前  訪問回数
a  はなこ     1
b  たろう     5
c  じろう     3

In [52]:
#Exercise10
df.loc['f'] = ['たかし', 4, 10.5]
print(df)
df = df.drop('f')
print(df)

    名前  訪問回数   スコア
a  はなこ     1  12.5
b  たろう     5   NaN
c  じろう     3  16.5
d  ひろし     3   9.0
e  みゆき     2   NaN
f  たかし     4  10.5
    名前  訪問回数   スコア
a  はなこ     1  12.5
b  たろう     5   NaN
c  じろう     3  16.5
d  ひろし     3   9.0
e  みゆき     2   NaN

In [53]:
#Exercise11
print(df)
print(df['訪問回数'].unique())
print(df['訪問回数'].value_counts())

    名前  訪問回数   スコア
a  はなこ     1  12.5
b  たろう     5   NaN
c  じろう     3  16.5
d  ひろし     3   9.0
e  みゆき     2   NaN
[1 5 3 2]
3    2
1    1
5    1
2    1
Name: 訪問回数, dtype: int64

In [54]:
#Exercise12
print(df)
print(df.isnull().any(axis=0))

    名前  訪問回数   スコア
a  はなこ     1  12.5
b  たろう     5   NaN
c  じろう     3  16.5
d  ひろし     3   9.0
e  みゆき     2   NaN
名前      False
訪問回数    False
スコア      True
dtype: bool

In [55]:
#Exercise13
print(df)
print(df.isnull().sum())

    名前  訪問回数   スコア
a  はなこ     1  12.5
b  たろう     5   NaN
c  じろう     3  16.5
d  ひろし     3   9.0
e  みゆき     2   NaN
名前      0
訪問回数    0
スコア     2
dtype: int64

In [56]:
#Exercise14
print(df)
print(df[df['スコア'].isnull()])

    名前  訪問回数   スコア
a  はなこ     1  12.5
b  たろう     5   NaN
c  じろう     3  16.5
d  ひろし     3   9.0
e  みゆき     2   NaN
    名前  訪問回数  スコア
b  たろう     5  NaN
e  みゆき     2  NaN

In [57]:
#Exercise15
df2 = df.dropna(how='any', axis=0)
print(df)
print(df2)

    名前  訪問回数   スコア
a  はなこ     1  12.5
b  たろう     5   NaN
c  じろう     3  16.5
d  ひろし     3   9.0
e  みゆき     2   NaN
    名前  訪問回数   スコア
a  はなこ     1  12.5
c  じろう     3  16.5
d  ひろし     3   9.0

In [58]:
#Exercise16
colmean = df.mean()
df2 = df.fillna(colmean)
print(df)
print(df2)

    名前  訪問回数   スコア
a  はなこ     1  12.5
b  たろう     5   NaN
c  じろう     3  16.5
d  ひろし     3   9.0
e  みゆき     2   NaN
    名前  訪問回数        スコア
a  はなこ     1  12.500000
b  たろう     5  12.666667
c  じろう     3  16.500000
d  ひろし     3   9.000000
e  みゆき     2  12.666667

C:\Users\birdy\AppData\Local\Temp/ipykernel_30924/3959389575.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  colmean = df.mean()

In [59]:
#Exercise17
print(df2)
print(df2['スコア'].map(int))

    名前  訪問回数        スコア
a  はなこ     1  12.500000
b  たろう     5  12.666667
c  じろう     3  16.500000
d  ひろし     3   9.000000
e  みゆき     2  12.666667
a    12
b    12
c    16
d     9
e    12
Name: スコア, dtype: int64

In [60]:
#Exercise18
print(df)
df2 = df.sort_values(by='訪問回数', ascending=False)
print(df2)

    名前  訪問回数   スコア
a  はなこ     1  12.5
b  たろう     5   NaN
c  じろう     3  16.5
d  ひろし     3   9.0
e  みゆき     2   NaN
    名前  訪問回数   スコア
b  たろう     5   NaN
c  じろう     3  16.5
d  ひろし     3   9.0
e  みゆき     2   NaN
a  はなこ     1  12.5

In [61]:
#Exercise19
qualify = ['yes','yes','no','yes','no']
df['資格'] = qualify
print(df)
df2 = df.drop('資格', axis=1)
print(df2)

    名前  訪問回数   スコア   資格
a  はなこ     1  12.5  yes
b  たろう     5   NaN  yes
c  じろう     3  16.5   no
d  ひろし     3   9.0  yes
e  みゆき     2   NaN   no
    名前  訪問回数   スコア
a  はなこ     1  12.5
b  たろう     5   NaN
c  じろう     3  16.5
d  ひろし     3   9.0
e  みゆき     2   NaN

In [68]:
#Exercise20
import pandas as pd
data = {'col1': [1,4,3,4,5], 'col2': [4,5,6,7,8], 'col3': [7,8,9,0,1]}
df = pd.DataFrame(data)
print(df.loc[df['col1'] == 4])

   col1  col2  col3
1     4     5     8
3     4     7     0

In [69]:
#Exercise21
df = df.drop([2,4], axis=0)
print(df)
df = df.reset_index()
print(df)

   col1  col2  col3
0     1     4     7
1     4     5     8
3     4     7     0
   index  col1  col2  col3
0      0     1     4     7
1      1     4     5     8
2      3     4     7     0