In [ ]:
import pandas as pd

s1 = pd.Series([37,74,58])
print(s1)
s2 = pd.Series({'a':37,'b':74,'c':58})
print(s2)

In [ ]:
df = pd.DataFrame({
    'A_col':[37,74,58],
    'B_col':[26,31,48],
    'C_col':[83,56,29]
})
print(df)

In [ ]:
df = pd.DataFrame({
    '名前': ['田中', '佐藤', '鈴木'],
    '年齢': [25, 30, 22]
})
print(df)

In [ ]:
print(df.shape)
print()
print(df.columns)
print()
print(df.info())
print()
print(df.describe())

In [ ]:
print(df['年齢'])         # 年齢列を取得（Series型）
print()
print(df[['名前', '年齢']])  # 複数列の取得（DataFrame型）
print()
print(df['年齢'] + 1)     # 年齢に1を加算
#df['年齢'] = df['年齢'] + 1 # すべての「年齢」列を一括で＋1

In [ ]:
print(df.loc[0])          # ラベルでアクセス（行の0番目）
print(df.iloc[1])         # インデックスでアクセス（行の1番目）
print(df[df['年齢'] > 23])  # 条件フィルター（年齢が23より大きい行）

In [ ]:
# 列の追加
df['出身地'] = ['東京', '大阪', '北海道']
print(df)

In [ ]:
# 行の追加
df.loc[3] = ['高橋', 28, '福岡']
print(df)

In [ ]:
# 行の削除
df = df.drop(1)  # インデックス1の行を削除
print(df)

In [ ]:
df.loc[1] = ['佐藤', 30, None]
print(df)

In [ ]:
# 新しい列を追加（すべて同じ値）
df['国籍'] = '日本'
print(df)

In [ ]:
# 他の列を元に新しい列を作成
df['年齢+10'] = df['年齢'] + 10
print(df)
# 列の削除
df = df.drop(columns=['年齢+10'])
print(df)

In [ ]:
print(df.isnull())          # 欠損値の場所をTrue/Falseで返す
print(df.isnull().sum())    # 列ごとの欠損値の数
print(df.dropna())          # 欠損値を含む行を削除
print(df.fillna(0))         # 欠損値を0で埋める

In [ ]:
print(df.sort_values('年齢'))         # 昇順
print(df.sort_values('年齢', ascending=False))  # 降順

In [ ]:
df.loc[1, '出身地'] = '東京'    # インデックス1(佐藤)の出身地を東京に変更
#df.iloc[1, 2] = '東京'  # インデックス番号で指定
#df.loc[[1, 2], '出身地'] = ['東京', '大阪']  # 行1と2の出身地を一括で変更
df.groupby('出身地')['年齢'].mean()  # 出身地ごとの平均年齢

In [ ]:
# 条件を満たす行を抽出
print(df[df['年齢'] >= 25])

# 条件を満たすデータに値を代入
df.loc[df['名前'] == '田中', '年齢'] = 99
print(df)

In [ ]:
df.loc[4] = ['田中', 99, '東京', '日本']
print(df)
# 重複行の削除
df2 = df.drop_duplicates()
print(df2)
# 列ごとに重複削除
df3 = df.drop_duplicates(subset='名前')
print(df3)

In [ ]:
import pandas as pd
# 顧客情報
df1 = pd.DataFrame({
    '顧客ID': [1, 2, 3],
    '名前': ['田中', '佐藤', '鈴木']
})
print(df1)

# 注文情報
df2 = pd.DataFrame({
    '顧客ID': [1, 2, 4],
    '注文数': [5, 3, 8]
})
print(df2)

# 内部結合（共通の顧客IDのみ）
merged = pd.merge(df1, df2, on='顧客ID', how='inner')
print(merged)

In [ ]:
import pandas as pd

df1 = pd.DataFrame({
    '名前': ['田中', '佐藤'],
    '年齢': [23, 30]
})

df2 = pd.DataFrame({
    '名前': ['鈴木', '高橋'],
    '年齢': [28, 35]
})

# 縦に結合（行が増える）
df_concat = pd.concat([df1, df2], axis=0, ignore_index=True)

print(df_concat)

In [ ]:
df3 = pd.DataFrame({
    '名前': ['田中', '佐藤'],
    '年齢': [23, 30]
})

df4 = pd.DataFrame({
    '出身地': ['東京', '大阪'],
    '性別': ['男', '女']
})

# 横に結合（列が増える）
df_concat = pd.concat([df3, df4], axis=1)

print(df_concat)

In [ ]:
import pandas as pd
df = pd.DataFrame({
    '出身地': ['東京', '東京', '大阪', '大阪', '福岡'],
    '性別': ['男', '女', '男', '女', '男'],
    '年齢': [30, 25, 22, 35, 28]
})

pivot = pd.pivot_table(df, values='年齢', index='出身地', columns='性別', aggfunc='mean')
print(pivot)

In [ ]:
import pandas as pd
# 日時を datetime に変換
df = pd.DataFrame({
    '日付': ['2025-01-01', '2025-01-02', '2025-01-03', '2025-02-01', '2025-02-03', '2025-03-03'],
    '売上': [100, 150, 200, 300, 400, 150]
})

df['日付'] = pd.to_datetime(df['日付'])

In [ ]:
# インデックスに日時を設定
df.set_index('日付', inplace=True)

In [ ]:
# 月ごとの合計売上(リサンプリング)
monthly = df.resample('ME').sum()
# monthly = df.resample('YE').sum()
print(monthly)

In [ ]:
# 2025年2月以降のデータだけを抽出
print(df[df.index >= '2025-02-01'])

In [ ]:
import pandas as pd

df = pd.read_csv('weather202407-202507.csv')
df.head()

In [ ]:
df.tail(3)

In [ ]:
print(df.shape)
print()
print(df.columns)
print()
print(df.info())
print()
print(df.describe())

In [ ]:
df['最高気温(℃)']

In [ ]:
df[['最高気温(℃)', '最低気温(℃)']]